body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: verdana;
}

.maindiv {
  background-color: white;
  font-weight: 300px;
  color: black;
  padding: 20px 20px 20px 20px;
  border: 2px solid black;
  border-radius: 25px;
}


